@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body {
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

container {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;  
    height: 500px;
    border: 2px solid gray;
}

container > div {
    border: 1px solid gray;
    box-sizing: border-box;
}
