@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


html, body{
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
    flex-direction: column;
}

container{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
/* 
    width: 510px;
    height: 510px; */
    
}

container > div {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    
    }

    /* container > div:hover {

        background-color: black;
       
        } */